<div class="container">
    <div class="jumbotron">
        <h1>Awwwww Scraper</h1>
            <div>
        <form action="/scrape" method="post">
            <button class="btn btn-secondary get-articles" type="submit">Get Cuteness</button>
        </form>
        <form action="/notes" method="get">
            <button class="btn btn-secondary get-notes" type="submit">View Notes</button>
        </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Cuteness to See</h3>
                <table>
                    <tbody>
                        {{#each articles}}
                        <tr>
                            <td class="title-n-link">
                                <ul>
                                <span class="dbID" style="display:none">{{_id}}</span>
                                <li class="artTitle">{{title}}</li>
                                <li class="artLink">
                                    <a href="{{link}}">
                                        {{link}}
                                    </a>
                                    </li>
                                </ul>
                            </td>
                            <td class="button-col">
                                <button value="{{_id}}" type="button" class="btn btn-success note-button"
                                    data-toggle="modal">Write a Note</button>
                                    <button value="{{_id}}" type="button" class="btn btn-danger del-art"
                                    >Delete Article</button>
                            </td>
                        </tr>
                        <div id="note-modal" class="modal fade show" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Note</h5>
                                        <button type="submit" class="note-update" data-dismiss="modal"></button>Save
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Note:</label>
                                                <textarea class="form-control" id="note-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>