<div class="container">
    <div class="jumbotron">
        <h1>Web Scraper App</h1>
        <form action="/scrape" method="post">
            <button class="get-articles" type="submit" style="display:none">Get Articles</button>
        </form>
        <a href="/">Return to Articles</a>
        <form action="/notes" method="get">
            <button class="get-notes" type="submit">View Notes</button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body notes-body">
                <h5 class="card-title">Articles with Notes</h5>
                <table>
                    <tbody>
                        {{#each articles}}
                        <tr>
                            <td class="title-n-none">
                                <ul>
                                <span class="dbID" style="display:none">{{_id}}</span>
                                <li class="artTitle">{{title}}</li>
                                <li class="artImage"><img src="{{image}}"></li>
                                </ul>
                            </td>
                            <td class="button-col">
                                <ul>
                                    <li class="artNote">{{note}}</li>
                                <li><button value="{{_id}}" type="button" class="btn btn-success note-button"
                                    data-toggle="modal">Edit A Note</button></li>
                                    </ul>
                            </td>
                        </tr>
                        <div id="note-modal" class="modal fade show" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Note</h5>
                                        <button type="submit" class="note-update" data-dismiss="modal">Save</button>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Note</label>
                                                <textarea class="form-control" id="note-text"></textarea>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        </ul>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>